body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Asegúrate de que los elementos se apilen verticalmente */
  min-height: 100vh; /* Asegúrate de que el body ocupe al menos la altura de la ventana */
}

.container {
  flex: 1; /* Esto permite que el contenedor principal ocupe el espacio disponible */
}